<a href="https://colab.research.google.com/github/HyunWooKim252/study_pythons/blob/main/codes/quests/30_fourvasic_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##변수명과 재사용
###변수명과 변수값으로 구성

In [1]:
first_string="1"
second_string=temp_string="0"##세컨드 스트링과 템프 스트링 같이 0으로 지정
thrid_string="2"
print(first_string, second_string, thrid_string)

1 0 2

In [2]:
second_string=first_string
first_string=temp_string

print(first_string, second_string, thrid_string)

0 1 2

In [3]:
first_string=thrid_string
thrid_string=temp_string
print(first_string, second_string, thrid_string)

2 1 0

In [4]:
thrid_string=second_string
second_string=temp_string




print(first_string, second_string, thrid_string)

2 0 1

### 외부 값 입력

## 변수값 종류 확인

In [13]:
first = 'first value'
second = '5'
third = 3
print_string = f'first : {first}, second : {second}, third : {third}'
print(print_string)

first : first value, second : 5, third : 3

In [16]:
#second+third
#type(5), type('5'), type(4.5)
print_string = f'first : {first}-{type(first)}, second : {second}-{type(second)}, third : {third}-{type(third)}'
print(print_string)

first : first value-<class 'str'>, second : 5-<class 'str'>, third : 3-<class 'int'>

### datatype 변경

In [25]:
#int(second)
second_value = int(second)
print(f'{second_value}/ {type(second_value)}')

5/ <class 'int'>

In [24]:
result = second_value + third
print(f'{result} / {type(result)}')

8 / <class 'int'>

In [28]:
result_value = str(result)
print(f'{result_value} / {type(result_value)}')

8 / <class 'str'>

In [29]:
int(first)## str형 '' 에 숫자가 들어가있는 경우만 변할수있다

ValueError: invalid literal for int() with base 10: 'first value'

### input()

In [38]:
#input()
fourth = input()
print(f'{fourth} / {type(fourth)}')

345
345 / <class 'str'>

In [39]:
#fourth + third
int(fourth) + third # data typecasting

348

###toy quest
-외부에서 숫자 두 개를 받아 덧셈 연산 출력

In [49]:
input_first = input('input first')
input_second = input('input second')
#print(f'{input_first} / {type(input_first)}')
#print(f'{input_second} / {type(input_second)}')

input_first_value = int(input_first)
input_second_value = int(input_second)
result = input_first_value + input_second_value

input first7
input second3

###사직연산

In [44]:
7 + 3, 7 - 3, 7 * 3, 7 / 3, 7 % 3

(10, 4, 21, 2.3333333333333335, 1)

In [58]:
input_first = input('input first : ')
input_second = input('input second : ')

input_first_value = int(input_first)
input_second_value = int(input_second)

print(input_first_value + input_second_value, f' / {type(input_first_value + input_second_value)}')
print(input_first_value - input_second_value, f' / {type(input_first_value - input_second_value)}')
print(input_first_value * input_second_value, f' / {type(input_first_value * input_second_value)}')
print(input_first_value / input_second_value, f' / {type(input_first_value / input_second_value)}')
print(input_first_value % input_second_value, f' / {type(input_first_value % input_second_value)}')

input first : 7
input second : 3
10  / <class 'int'>
4  / <class 'int'>
21  / <class 'int'>
2.3333333333333335  / <class 'float'>
1  / <class 'int'>

In [55]:
3

3